@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */

/*
h1 {
  @apply text-3xl font-bold text-left my-4;
}
h2 {
  @apply text-2xl font-semibold text-left mt-6 mb-2;
}
h3 {
  @apply text-xl font-semibold text-left mt-6 mb-2;
}
h4 {
  @apply text-lg font-semibold text-left mt-6 mb-2;
}
p {
  @apply text-base text-gray-700 leading-6 mt-2;
}
a {
  @apply text-indigo-600 hover:underline;
}
*/
.legal {
  overflow: hidden;
}
.legal h1 {
  font-size: 1.875rem; /* 30px */
  font-weight: 700;
  text-align: left;
  margin: 1rem 0;
}
.legal h2 {
  font-size: 1.5rem; /* 24px */
  font-weight: 600;
  text-align: left;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.legal h3 {
  font-size: 1.25rem; /* 20px */
  font-weight: 600;
  text-align: left;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.legal h4 {
  font-size: 1.125rem; /* 18px */
  font-weight: 600;
  text-align: left;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.legal p {
  font-size: 1rem; /* 16px */
  color: #4a5568;
  line-height: 1.5;
  margin-top: 0.5rem;
}
.legal a {
  color: #4c51bf;
  text-decoration: none;
}
.legal :hover {
  text-decoration: underline;
}

div.ql-toolbar {
  @apply rounded-t-md py-2 px-2 !important;
}
.ql-container {
  @apply rounded-b-md p-0 shadow-sm ;
}
div.ql-editor {
  @apply py-2 px-3 rounded-b-md focus:ring-2 focus:ring-inset focus:ring-indigo-600 min-h-24; 
}